.selector {
    cursor: pointer;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    gap: 8px;
    padding: 8px 8px 8px 16px;
}

.selector:hover .text {
    color: #57c6e4
}

.selector:hover .subText {
    color: #57c6e4
}

.selector:hover .span {
    color: #57c6e4
}


.frame11139 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;

}

.text {

    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.subText {
    align-self: stretch;
    flex-grow: 0;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #444652;

}

.span {

    align-self: stretch;
    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
}


.checkboxStyle {
    display: flex;
    cursor: pointer;
    user-select: none;
}

.checkboxStyle input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    border-radius: 2px;
    height: 18px;
    width: 18px;
    background-color: #191c26;
    border: solid 2px #444652;
}


/* When the checkbox is checked, add a blue background */
.checkboxStyle input:checked~.checkmark {
    background-color: #57c6e4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    display: none;
}

/* Show the checkmark when checked */
.checkboxStyle input:checked~.checkmark:after {
    display: flex;
}

/* Style the checkmark/indicator */
.checkboxStyle .checkmark:after {
    margin-left: 4px;
    width: 6px;
    height: 11px;
    border: solid #444652;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.frame11143 {
    height: 32px;
    margin-right: 15px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 0 24px;
}

.frame11142 {

    cursor: pointer;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: stretch;
    align-items: center;
    gap: 8px;
    padding: 8px 8px 8px 0px;
}

.subText2 {
    flex-grow: 0;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: right;
    color: #444652;
}

.ellipse4 {
    position: relative;
    width: 48px;
    height: 48px;
    flex-grow: 0;
}

.text3 {
    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.frame11139 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;

}

.frame1111 {
    display: flex;
    padding: 0 38px;
    margin-left: 15px;
}